<div>
    <h1>SUBIR ARCHIVO</h1>
    <form action="/api/files" method="POST" enctype="multipart/form-data">
        <input type="file" name="imagen">
        <button type="submit">
            CARGAR
        </button>
    </form>
</div>